# Created by https://www.gitignore.io
# Edit at https://www.gitignore.io


### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.xdv

### IDEs metadata
.idea/

### Development assistance

Pruebas/

### Compiled files
*.so
*.pdf # We will only track latex files
*.out
*.o
*.pyc

### Tests

*hypothesis*
